/* Home CSS */
* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden !important;
}
.main_content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 30;
    color: white;
    mix-blend-mode: difference;
}

.main_content:focus {
    outline: none;
}

.main_content span {
 position: relative;
 z-index: 125;
}

.main_content span::before {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0;
    background-color: #5786FF;
    
}
.main_content span::after {
    content: "";
    height: 2px;
    position: absolute;
    width: 100%;
    bottom: 2px;
    left: 0;
    border: 0 !important;
    background-color: #5786FF;
    z-index: 0;
}

.main_content span::after {
    width: 100%;
    height: 2px;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

.uno, .duo, .trois {
    width: 200vw;
height: calc(100vh / 3);
border-radius: 150px;
background-color: #0a0a0a;
transform: translateX(-200px);
}

.home .backdrop {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /* z-index: 89; */
}

.main_content h2{
    font-weight: 900;
    font-size: 54px;
    line-height: 68px;
    mix-blend-mode: difference;
    opacity: 1;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main_content {
        /* padding: 0 20px; */
    }
    .main_content h2{
        font-size: 35px;
        padding: 0 50px;
        line-height: 45px;

    }

    .main_content h3.salutation {  
        font-size: 20px;
    }

    .main_content p{ 
        margin-top: 0 !important;
        font-size: 18px !important;
        line-height: 24px !important;
        padding: 0 25px;
    }
}

.main_content h3{  
    font-size: 25px;
    line-height: 29px;
    font-weight: 400;
    mix-blend-mode: difference;
    opacity: 1;
}

.main_content p{  
    opacity: 1;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 29px;
    max-width: 745px;
    margin-top: -30px;
    mix-blend-mode: difference;
}


/* About  */
.container {
    /* background-color: yellow; */
    max-width: 1400px;
    margin: 0 auto;
}

.main_about  {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 980px){
    .main_about {
        flex-direction: column;
        padding: 0 30px;
        justify-content: center !important;
    }
    .main_about .imgBx {
        width: 100% !important;
    }

    /* .imgBx::after {
        display: none !important;
    } */
}


/* 
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/raphaeluwadone/portfolio.git
git push -u origin main
*/

.main_about .imgBx {
    width: 568px;
    height: 448px;
    position: relative;
    overflow: hidden;
}

.imgBx::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
}


.main_about .imgBx img{
    width: 100% !important;
    /* height: 448px; */
    /* background-image: url('./Assets/portfolio-img.png'); */
} 

.main_about .text {
    /* padding: 0 30px; */
    text-align: center;
    max-width: 750px;
}

@media screen and (max-width: 980px){
    /* .main_about .text h4{
        font-size: 15px !important;
        border: 2px solid cyan !important;
    }

    .main_about .text p{
        font-size: 9px !important;
    } */
}

.main_about .text h4{
    font-size: 45px;
    font-weight: 900;
    line-height: 56.95px;
}

.main_about .text p{ 
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}

.main_tools {
    background: #BDD0FF;
    padding: 30px;
}

.tools_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.tools_content h4{
    font-size: 45px;
    font-weight: 900;
}

.tools_content p{ 
    font-size: 18px;
    margin-top: -30px;
    max-width: 782px;
    font-weight: 400;
    text-align: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tab {
    width: 200px;
    height: 84px;
    background-color: #fff;
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items:  center;
    border-radius: 8px;
}

.tabs p {
    align-self: flex-end;
}

.tabs i {
    font-size: 50px;
}

.tabs img {
    width: 50px;
}

/* Project CSS */
.project-container {
    width: auto;
    height: auto;
    /* padding: 30px; */
    width: 500vw;
    background-color: #BDD0FF;
    display: flex;
    overflow-x: hidden !important;
    flex-wrap: nowrap;
}

@media screen and (max-width: 769px) {
    .project-container{
        flex-direction: column;
        width: 100vw !important;
        overflow-x: hidden !important;
    }
}

.single {
    width: 100vw;
    margin: 0;
    box-sizing: border-box;
    padding: 30px;
}

.single h2 { 
    font-size: 45px;
    line-height: 52px;
    font-weight: 900;
}

.single-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

@media screen and (max-width: 1200px) {

    .left-content {
        box-sizing: border-box;
        width: 100% !important;
        padding: 10px 30px;
    }

    .single-content {
        /* background-color: pink; */
        flex-direction: column;
        width: 100%;
    }

    .left-content ul{
        display: none !important;
    }
}

.btn-container {
    /* background-color: purple; */
    display: flex;
}

@media screen and (max-width: 750px) {
    .single-content img {
        width: 100% !important;
        /* border: 2px solid red; */
    }

    .btn {
        width: 100px !important;
        font-size: 18px !important;
    }

    .left-content h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .left-content p {
        font-size: 16px;
        line-height: 18px;
    }
}

.single-content img {
    width: 648px;
    /* height: 516px; */
    /* border: 2px solid green; */
}

.left-content {
    width: 40%;
    height: 300px;
    font-size: 18px;
    line-height: 21px;
    align-self: start;
    /* background-color: orange; */
}

.btn {

    width: 205px;
    height: 54px;
    color: white;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
}

.git {
    background-color: transparent;
    border: 2px solid #BDD0FF;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

.git:hover {
    transform: scale(1.1);
}

.live {
    background-color: #5786FF;
    color: white;
    border: 2px solid #5786FF;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

.live:hover {
    transform: scale(1.1);
}

.single ul {
    list-style: none;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
}

li {
    display: inline;
    font-size: 14px;
    padding: 3px 9px;
    border: 2px solid #BDD0FF;
    border-radius: 100%;
    font-weight: bold;
    position: relative;
}

.strike:after {
    content: "";
    position: absolute;
    z-index: 30;
    width: 80px;
    bottom: 50%;
    left: 25px;
    height: 2px;
    background-color: #BDD0FF;
}

.cta-container {
    background-color: #BDD0FF;
    padding: 30px 130px;
}

.project-container {

}

.cta-container > h2 {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}

.cta-container > p {
    /* background-color: cyan !important; */
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 30px;
}

@media screen and (max-width: 750px) {
    .cta-container{
        padding: 30px !important;
    }
}


.footer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    color: white;
    font-size: 22px;
}

.one {
    position: absolute;
    top: 30%;
    left: 0;
}

.two {
    position: absolute;
    top: 70%;
    left: 100px;
}

.three {
    position: absolute;
    top: 80%;
    left: 40%;
}

.four {
    position: absolute;
    top: 85%;
    left: 55%;
}

.five {
    position: absolute;
    top: 80%;
    left: 80%;
}

.six {
    position: absolute;
    top: 80%;
    left: 80%;
}

.seven {
    position: absolute;
    top: 20%;
    left: 70%;
}

.nav_body .btn {
    width: 205px;
    height: 54px;
    background-color: #fff;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    transition: all .3s ease-in;
}

.nav_body .btn:hover {
    transform: scale(1.12);
}

.nav_body .btn a {
    text-decoration: none;
    font-size: 24px;
    color: black;
    line-height: 30px;
}

@media screen and (max-width: 769px) {
    .nav_body{
        display: none !important;
    }
}
.nav_body {
    width: 100vw;
    background-color: #0a0a0a;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}
.nav_body ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* background-color: cyan; */
    align-items: center;
    width: 400px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.nav_body ul li{
    font-size: 23px;
    color: white;
    border: none !important;
}

.nav_brand {
    font-size: 40px;
    font-weight: bold;
    color: white;
    height: 100% !important;
}

/* Hamburger Menu */
.menu_body {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #0a0a0a;
    position: fixed;
    z-index: 700;
} 

@media screen and (min-width: 769px) {
    .menu_body {
        display: none;
    }
}
.menu-btn {

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    top: 0;
    right: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
    z-index: 1000;
  }
  .menu-btn__burger {
    width: 40px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 45px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-14px);
  }
  .menu-btn__burger::after {
    transform: translateY(14px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }


  /* Dropdown Menu */

  .dropdown_body {
      max-width: 100vw;
      height: 500px;
      width: 450px;
      background-color: #0a0a0a;
      position: absolute;
      top: 0;
      right: 0;
      transform: translateY(-120%);
      z-index: 100;
      display: flex;
      align-items: center;
      transition: all .2s ease-in-out;
      opacity: 0;
  }

  .dropped_body {
    max-width: 100vw;
    height: 500px;
    width: 450px;
    background-color: #0a0a0a;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
      transform: translateY(0);
      opacity: 1;
  }

  ul.drop{
      display: flex;
      flex-direction: column;
      height: 300px;
      width: 100%;
      justify-content: center;
      align-items: center;
  }

    ul.drop li{
      border: none;
      margin: 10px 0;
      padding: 15px;
      border: 1px solid green;
      border-radius: 0;
      width: 120px;
      font-weight: bolder;
      text-align: center;
      font-size: 20px;
      color: #fff;
  }

  ul.drop li.btn{
      background-color: #fff;
      width: 200px !important;
      border: 1px solid #ededed;
      border-radius: 8px;
      color: #0a0a0a;
      transition: all .2s ease-in;
  }

  ul.drop li.btn:hover{
      transform: scale(1.15);
  }

  ul.drop li:hover{
      background-color: #efefef;
  }

  .side_brand {
      color: white;
      font-weight: bolder;
      font-size: 22px;
  }